*{
    box-sizing: border-box;
    text-transform: capitalize;
}
.navbar1{
    background-color: rgb(34, 202, 180);
    font-weight: bold;
}
.nav1{
    margin:0;
    padding: 0;

}
.nav1 li a{
    display: block;
    padding: 14px 16px;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}
#nav{
  font-size: 25px;
}
header {
    position: relative;
    background-color: black;
    height: 120vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  
  /* Media Query for devices withi coarse pointers and no hover functionality */
  
  /* This will use a fallback image instead of a video for devices that commonly do not support the HTML5 video element */
  
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
  
    header video {
      display: none;
    }
  }

  .banner-button{
    background-color: yellow;
    color: rgb(28, 43, 175);
    padding: 14px 45px;
    border: none;
    outline: none;
    font-size: 25px;
    font-weight: bold;
    margin-top: 25px;
  }
  .banner-heading{
    font-size: 85px;
    font-weight: bold;
    margin-top: 260px;
  }
  .travel-world-img img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    margin: 0;
    padding: 0;
  }
  .travel-world{
    background-color:rgb(34, 202, 180);
    font-weight: bold;
    color: white;
  }
  .travel-world h1{
    font-size: 60px;
  }
  .travel-world h1 span{
    color: rgb(219, 200, 30);
  }
  .travel-world p{
    font-size: 20px;
    margin-top: 30px;
  }
  .package-button{
    background-color: yellow;
    color: rgb(28, 43, 175);
    padding: 14px 45px;
    border: none;
    outline: none;
    font-size: 25px;
    font-weight: bold;
    margin-top: 45px;
  }
  .packages{
    background-color:rgb(28, 145, 190);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;;
  }
  .packages h1{
    font-size: 65px;
  }
  .packages h1 span{
    color: rgb(219, 200, 30);
  }
  .packages p{
    font-size: 20px;
    margin-top: 45px;
  }
  .packages-img img{
    width: 100%;
    height: 700px;
    object-fit: cover;
  }
  .packages-img{
    position: relative;
  }
  .card1{
    width: 55%;
    border: 6px solid yellow;
    padding: 25px 15px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    font-weight: bold;
  }
  .card1 a{
    color: green;
    font-size: 20px;
    font-weight: bold;
  }
  .news{
    background-color: rgb(34, 202, 180);
    padding: 40px 0px;
    overflow: hidden;
  }
  .news h1{
    font-weight: bold;
    font-size: 35px;
    color: white;
    margin-top: 25px;
  }
  .image-size-1{
    height: 230px;
    object-fit: cover;
  }
  .news-card h3{
    color: rgb(219, 200, 30);
  }
  .news-card{
    background-color:rgb(28, 145, 190);
    font-weight: bold;
    margin-top: 85px;
  }
  .news-card p{
    color: white;
    font-size: 18px;
    margin-top: 20px;
  }
  .book{
    position: relative;
    height: 500px;
  }
  .book img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .book h1{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-25%);
    text-align: center;
    color: white;
    font-size: 55px;
    font-weight: bold;
    font-style: italic;
  }
  .footer1{
    text-align: center;
    color: green;
    background-color: yellow;
    padding: 65px 20px;
  }
  .footer1 h2{
    margin-top: 15px;
  }
  .footer2{
    background-color: black;
    padding: 20px;
    color: white;
  }